#title{
	position: relative;
	margin: 0 auto;
	width: 400px;
}

#container{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	max-width:90%;
}

#background{
	position: relative;
}

#doodle{
	position: absolute;
	top:0px;
	left:0px;
}

#footer{
	margin: 0 auto;
	width: 1000px;
	max-width:90%;
}

#recordtxt{
	text-align: center;
	font-size:14px;
}

#scoretxt{
	text-align: center;
	font-size:14px;
}

#sharefb{
	text-align: center;
	font-size:14px;
}