body{
	overflow: hidden;
	background:#000000;
}

@font-face{
	font-family: Eco;
	src: url(../font/ECOLOGIZE-FONT.ttf);
}

@font-face{
	font-family: Mono;
	src: url(../font/SimplonMono-Medium.ttf);
}

.block{
	background:#00efd2;
	position: absolute;
	text-align: center;
}

#block2{
	display:none;
}

#block3{
	display:none;
}

#puntos{
	display:none;
}

.indi{
	position:absolute;
	font-family: Mono;
	width: 100%;
	text-align: center;
	color: #000000;
}

.btn{
	border:none;
	outline:0;
	background:#feeda7;
	font-family: Eco;
	color:#000000;
	box-shadow: 5px 5px 0px #c2aace;
}

#container{
	background:#000000;
	position: absolute;
	margin-left: 90px;
	margin-top:90px;
	border: 10px solid #00efd2;
}

#background{
	position: absolute;
}

#doodle{
	position: absolute;
	top:0px;
	left:0px;
}

#title{
	position:absolute;
	top:0px;
	font-family: Eco;
	width: 100%;
	text-align: center;
	color: #00efd2;
}

#hash{
	position:absolute;
	top:0px;
	font-family: Mono;
	width: 100%;
	text-align: center;
	color: #00efd2;
}

#record{
	position:absolute;
	top:0px;
	left:50%;
	text-align: center;
	font-family: Eco;
	color: #feeda7;
}

#score{
	position:absolute;
	top:0px;
	left:0px;
	text-align: center;
	font-family: Eco;
	color: #feeda7;
}

#recordtxt{
	position:absolute;
	top:0px;
	left:50%;
	text-align: center;
	font-family: Mono;
	color: #feeda7;
}

#scoretxt{
	position:absolute;
	top:0px;
	left:0px;
	text-align: center;
	font-family: Mono;
	color: #feeda7;
}